<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CalendarScroller</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="renderer" content="webkit">
</head>

<body class="index">
    <div class="date_div" style="width:50vw; height:200vh; line-height: 10vh; text-align: center; border:solid 1px #ff0000;">点我</div>
    <script type="text/javascript" src="/widget/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/widget/lib/jroll.min.js"></script>
    <script type="text/javascript" src="/widget/lib/CalendarScroller.js"></script>
    <script type="text/javascript" src="/widget/app/index.js"></script>
    <script type="text/javascript">
    $(function() {
        index.init();
    });
    </script>
</body>

</html>
