<!-- 页面底部公共部分-->
    <section class="html_foot start_hidden">
        <section class="min_width">
            <div class="logo_left">
                <img src="/images/logo.png" alt="图片"  />
            </div>
            <ul class="foot_ul1">
                <li class="first"><span></span><p>探索</p></li>
                <li><a href="/">首页</a></li>
                <li><a href="/JoinUs">加入我们</a></li>
                <li><a href="/AboutUs">关于我们</a></li>
                <li><a href="/Cooperate">商务合作</a></li>
                <li><a href="/Business/Marketing">服务业务</a></li>
                <li><a href="/Service">售后服务</a></li>
                <li><a href="/Cases">案例项目</a></li>
                <li><a href="/Marketing">营销推广</a></li>
                <li><a href="/News">新闻动态</a></li>
            </ul>
            <ul class="foot_ul2">
                <li class="first"><span></span><p>联系我们</p></li>
                <li>咨询热线：</li>
                <li>400-607-1580</li>
                <li>邮箱：</li>
                <li>server@topu.net</li>
            </ul>
            <ul class="foot_ul3">
                <li class="first"><span></span><p>我们的位置</p></li>
                <li>地址：</li>
                <li>北京市东城区礼士写字楼七层</li>
            </ul>
        </section>
        <section class="foot_p">
            <div class="min_width">
                <span class="content">Copyright © 2016 TOPu.net All rights reserved.</span><span class="xinlang"></span><span class="weixin"></span><span class="baidu"></span>
            </div>
        </section>
        <!--  回到顶部按钮  -->
        <section class="html_to_top">
        </section>
        <!-- end  回到顶部按钮  -->
        <!--  qq右侧悬浮框-->
        <section class="qq_popup">
            <div class="qq_bao">
                <span class="qq_close"></span>
                <a href="tencent://message/?Menu=yes&uin=1136954988&Site=&Service=201"><span class="qq_open"></span></a>
            </div>
            <div class="qq_small"></div>
        </section>
        <!-- end qq右侧悬浮框-->

        <!-- 联系客服弹框-->
        <section class="contact_popup">
            <div class="popup_top">
                <span class="close_popup"></span>
            </div>
            <form>
                <textarea class="popup_text" placeholder="请在此输入留言内容，我们会尽快与您联系"></textarea>
                <div class="popup_div">
                    <span>姓名</span>
                    <input type="text" class="popup_name" name="popup_name" placeholder="最多10个字符" />
                </div>
                <div class="popup_div">
                    <span>电话</span>
                    <input type="text" class="popup_phone" name="popup_phone" placeholder="请输入您的电话号码"/>
                </div>
                <input type="submit" value="发送" class="popup_send">
            </form>
        </section>
        <!-- end 联系客服弹框-->

        <!-- 微信二维码弹层-->
        <section class="weixin_mask">
            <div class="mask_div">
            </div>
            <div class="code">
                <img src="/images/foot_logo.png" alt="二维码" />
            </div>
        </section>
        <!--end 微信二维码弹层-->
    </section>
    <!-- end 页面底部公共部分-->