    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%=common%></title>
    <meta name="keywords" content="拓扑高科 - 官网" />
    <meta name="description" content="拓扑高科 - 官网" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--[if lte IE 9]><script type="text/javascript" src="/inc/html5shiv.min.js"></script><![endif]-->