    <!-- 头部公共部分-->
    <section class="html_nav_bao start_hidden">
        <section class="html_nav">
            <section class="html_nav_top">
                <section class="min_width">
                    <p class="p_left">您好，欢迎来到拓扑高科</p>
                    <p class="p_right"><!--<a href="/business">商务合作</a>|<a href="/after_service">售后服务</a>|<a href="/marketing">营销推广</a>-->400-607-1580</p>
                </section>
            </section>
            <section class="min_width">
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" alt="logo" /></a>
                </div>
                <p class="nav_p">
                    <span <%if(menu==1){%> class="on li_click" <%} else {%> class="li_click" <%}%> url="/" target="_self">
                        <a <%if(menu==1){%> class="on" <%}%> >首页</a>
                        <a class="on" >首页</a>
                    </span>
                    <span <%if(menu==2){%> class="on li_click" <%} else {%> class="li_click" <%}%> url="/AboutUs" target="_self">
                        <a <%if(menu==2){%> class="on" <%}%> >关于我们</a>
                        <a class="on">关于我们</a>
                    </span>
                    <span <%if(menu==3){%> class="on li_click" <%} else {%> class="li_click" <%}%> url="/Business/Marketing" target="_self">
                        <a <%if(menu==3){%> class="on" <%}%>>服务业务</a>
                        <a class="on" >服务业务</a>
                    </span>
                    <span <%if(menu==4){%> class="on li_click" <%} else {%> class="li_click" <%}%> url="/Cases" target="_self" >
                        <a <%if(menu==4){%> class="on" <%}%> >案例项目</a>
                        <a class="on">案例项目</a>
                    </span>
                    <span <%if(menu==5){%> class="on li_click" <%} else {%> class="li_click" <%}%> url="/News" target="_self" >
                        <a <%if(menu==5){%> class="on" <%}%> >新闻动态</a>
                        <a class="on">新闻动态</a>
                    </span>
                    <span <%if(menu==6){%> class="on li_click" <%} else {%> class="li_click" <%}%> url="/JoinUs" target="_self">
                        <a <%if(menu==6){%> class="on" <%}%>>加入我们</a>
                        <a class="on">加入我们</a>
                    </span>
                </p>
                <div class="server">
                    联系客服
                </div>
            </section>
        </section>
    </section>
    <!-- end 头部公共部分-->